---
---
<section class="widget subscribe">
  <h3>Subscribe</h3>
  <a href="/rss.xml" class="rss-link" aria-label="RSS feed">
    <img src="/rss.png" alt="" width="18" height="18" />
    <span>RSS</span>
  </a>
</section>
